@import '_colors';
@import '_fonts';
@import 'mixins';
@import 'toastr';

body {
  font-size: 16px;
  font-family: $quicksand;
  color: $base-color;
  background: #f5f6fa;
}

//colors
.heading {
  color: $brand-color;
  font-family: $lexend;
}

//fonts
.lexend {
  font-family: $lexend;
}


.quicksand {
  font-family: $quicksand;
}

.toned-header {
  margin-bottom: 1.5rem;
  color: $base-color;
  text-decoration: underline;
  word-break: break-word;
  span {
    font-size: 2.5rem;
    margin-right: 5px;
    font-family: $lexend;
  }
}

.b2b-btn-fwd {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  transition: all 0.25s;
  font-weight: 600;
  outline: none !important;
  position: relative;
  padding: 13px 0 0 55px;
  color: #000000;

  &.rotate {
    pointer-events: none;
    &:after {
      animation: spinner 2.5s linear infinite;
    }
  }
  &:disabled {
    color: #fff;
    &:after {
      -webkit-filter: grayscale(0.7);
      filter: grayscale(0.7);
    }
  }
  &:after {
    content: '';
    background: url('../../assets/images/doughnut.png');
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
  }
  cursor: pointer;
}

.b2b-btn-stay {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  transition: all 0.25s;
  font-weight: 600;
  outline: none !important;
  position: relative;
  padding: 13px 0 0 55px;
  &:hover {
    &:after {
      -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
      transform: rotate(-20deg);
    }
  }
  &:after {
    content: '';
    background: url('../../assets/images/prawn.png');
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
  }
  cursor: pointer;
}

.formgroup {
  min-height: 70px;
  .b2b-input {
    width: 100%;
    padding: 5px 0 5px 15px;
    background: rgba(255, 255, 255, 0.5);
    color: $base-color;
    border-radius: 30px;
    box-shadow: none;
    border: none;
    outline: none;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    &:focus,
    &:active {
      background: #fff;
    }
    &::placeholder {
      color: $base-color;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $base-color;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $base-color;
    }
  }
  .radio-group {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4px;
    label {
      position: relative;
      cursor: pointer;
      input {
        -webkit-appearance: none;
        margin: 0;
        visibility: hidden;
        &:before {
          width: 15px;
          height: 15px;
          border: 2px solid #fff;
          background: #fff;
          content: '';
          border-radius: 50%;
          visibility: visible;
          box-shadow: 0 0 0 2px #ccc;
          display: inline-block;
          margin: 0 10px 0 0;
          transition: all 0.8s;
        }
        &:checked {
          &:before {
            background: $brand-color;
          }
        }
      }
    }
  }
  .error {
    margin: 2px 0 2px 17px;
    display: block;
    font-size: 0.7rem;
    font-weight: 600;
    color: #fb0000;
    float: left;
  }
  .hint{
    margin: 2px 10px 2px 17px;
    display: block;
    font-size: 0.7rem;
    font-weight: 600;
    color: #fff;
    float: right;
  }
  .b2b-checkbox {
    input[type='checkbox'] {
      display: none;
      & + label {
        position: relative;
        padding-left: 25px;
        color: #000;
        font-weight: 600;
        cursor: pointer;
        font-weight: 500;
        transition: 0.2s;
        &:hover {
          color: $brand-color;
        }
        /* checkbox aspect */
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 2px;
          width: 20px;
          height: 20px;
          background: #f8f8f8;
          border-radius: 3px;
        }
        /* checked mark aspect */
        &:after {
          content: '✔';
          position: absolute;
          top: 0;
          left: 4px;
          font-size: 16px;
          color: $brand-color;
          transition: all 0.2s;
          opacity: 0;
          transform: scale(0);
        }
      }
      &:checked + label:after {
        opacity: 1;
        transform: scale(1);
      }
      /* disabled checkbox */
      &:disabled {
        color: #aaa;
        & + label {
          &:before {
            box-shadow: none;
            border-color: #bbb;
            background-color: #ddd;
          }
          &:after {
            color: #999;
          }
        }
      }
    }
  }
}

//spinner
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  position: relative;
}
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-top-color: #fff;
  animation: spinner 0.6s linear infinite;
}

.form-spinner {
  position: relative;
}
.form-spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  right: 10px;
  bottom: 3px;
  width: 15px;
  height: 15px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid rgba(254, 84, 0, 0.5);
  border-top-color: #fe5400;
  -webkit-animation: spinner 0.6s linear infinite;
  animation: spinner 0.6s linear infinite;
}

.loader-wrapper{
  .loader{
    position: absolute;
    left: 50%;
  }
  #loader-3:before, #loader-3:after{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: calc(50% - 10px);
    background-color: $brand-color;
    animation: squaremove 1s ease-in-out infinite;
  }

  #loader-3:after{
    bottom: 0;
    animation-delay: 0.5s;
  }

  @keyframes squaremove{
    0%, 100%{
      -webkit-transform: translate(0,0) rotate(0);
      -ms-transform: translate(0,0) rotate(0);
      -o-transform: translate(0,0) rotate(0);
      transform: translate(0,0) rotate(0);
    }

    25%{
      -webkit-transform: translate(20px,20px) rotate(45deg);
      -ms-transform: translate(20px,20px) rotate(45deg);
      -o-transform: translate(20px,20px) rotate(45deg);
      transform: translate(20px,20px) rotate(45deg);
    }

    50%{
      -webkit-transform: translate(0px,40px) rotate(0deg);
      -ms-transform: translate(0px,40px) rotate(0deg);
      -o-transform: translate(0px,40px) rotate(0deg);
      transform: translate(0px,40px) rotate(0deg);
    }

    75%{
      -webkit-transform: translate(-20px,20px) rotate(45deg);
      -ms-transform: translate(-20px,20px) rotate(45deg);
      -o-transform: translate(-20px,20px) rotate(45deg);
      transform: translate(-20px,20px) rotate(45deg);
    }
  }
}

.my-card {
  position: relative;
  background-color: #fff;
  border: 0.0625rem solid rgba(34, 42, 66, 0.05);
  box-shadow: 0 1px 15px 0 rgba(122, 122, 122, 0.05);
  margin-bottom: 1rem;
  color: #8c8c8c;
}

.post-finished-text{
  text-align: center;
  p{
    color: $brand-color;
    font-weight: 600;
    margin: 20px 0;
    font-size: 20px;
  }
}

.ui-blocker{
  height: calc(100vh - 65px);
  display: flex;
  justify-content: center;
  align-items: center;
  &.divs{
    width: 100% !important;
    img{
      width: 100px;
    }
  }
  img{
    background: #ffffff;
    border-radius: 50%;
  }
}
