@import '_colors';
@import '_fonts';
@import 'mixins';

body {
  font-size: 16px;
  font-family: $quicksand;
  color: $base-color;
}

//colors
.heading {
  color: $main-color;
  font-family: $lexend;
}

//fonts
.lexend {
  font-family: $lexend;
}

.quicksand {
  font-family: $quicksand;
}

.toned-header {
  margin-bottom: 1.5rem;
  color: $base-color;
  text-decoration: underline;
  span {
    font-size: 2.5rem;
    margin-right: 5px;
    font-family: $lexend;
  }
}

.b2b-btn-fwd {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  transition: all 0.25s;
  font-weight: 600;
  outline: none !important;
  position: relative;
  padding: 13px 0 0 55px;
  color: #000000;

  &.rotate {
    pointer-events: none;
    &:after {
      animation: spinner 2.5s linear infinite;
    }
  }
  &:disabled {
    color: #fff;
    &:after {
      -webkit-filter: grayscale(0.7);
      filter: grayscale(0.7);
    }
  }
  &:after {
    content: '';
    background: url('../../assets/images/doughnut.png');
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
  }
  cursor: pointer;
}

.b2b-btn-stay {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  transition: all 0.25s;
  font-weight: 600;
  outline: none !important;
  position: relative;
  padding: 13px 0 0 55px;
  &:hover {
    &:after {
      -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
      transform: rotate(-20deg);
    }
  }
  &:after {
    content: '';
    background: url('../../assets/images/prawn.png');
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
  }
  cursor: pointer;
}

.formgroup {
  min-height: 70px;
  .b2b-input {
    width: 100%;
    padding: 5px 0 5px 15px;
    background: rgba(255, 255, 255, 0.5);
    color: $base-color;
    border-radius: 30px;
    box-shadow: none;
    border: none;
    outline: none;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    &:focus,
    &:active {
      background: #fff;
    }
    &::placeholder {
      color: $base-color;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $base-color;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $base-color;
    }
  }
  .radio-group {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4px;
    label {
      position: relative;
      cursor: pointer;
      input {
        -webkit-appearance: none;
        margin: 0;
        visibility: hidden;
        &:before {
          width: 15px;
          height: 15px;
          border: 2px solid #fff;
          background: #fff;
          content: '';
          border-radius: 50%;
          visibility: visible;
          box-shadow: 0 0 0 2px #ccc;
          display: inline-block;
          margin: 0 10px 0 0;
          transition: all 0.8s;
        }
        &:checked {
          &:before {
            background: $main-color;
          }
        }
      }
    }
  }
  .error {
    margin: 2px 0 2px 17px;
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    color: #fb0000;
  }
  .b2b-checkbox {
    input[type='checkbox'] {
      display: none;
      & + label {
        position: relative;
        padding-left: 25px;
        color: #000;
        font-weight: 600;
        cursor: pointer;
        font-weight: 500;
        transition: 0.2s;
        &:hover {
          color: $main-color;
        }
        /* checkbox aspect */
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 2px;
          width: 20px;
          height: 20px;
          background: #f8f8f8;
          border-radius: 3px;
        }
        /* checked mark aspect */
        &:after {
          content: '✔';
          position: absolute;
          top: 0;
          left: 4px;
          font-size: 16px;
          color: $main-color;
          transition: all 0.2s;
          opacity: 0;
          transform: scale(0);
        }
      }
      &:checked + label:after {
        opacity: 1;
        transform: scale(1);
      }
      /* disabled checkbox */
      &:disabled {
        color: #aaa;
        & + label {
          &:before {
            box-shadow: none;
            border-color: #bbb;
            background-color: #ddd;
          }
          &:after {
            color: #999;
          }
        }
      }
    }
  }
}

//spinner
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  position: relative;
}
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-top-color: #fff;
  animation: spinner 0.6s linear infinite;
}

.form-spinner {
  position: relative;
}
.form-spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: -30px;
  bottom: 3px;
  width: 15px;
  height: 15px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid rgba(254, 84, 0, 0.5);
  border-top-color: #fe5400;
  -webkit-animation: spinner 0.6s linear infinite;
  animation: spinner 0.6s linear infinite;
}
