.wrapper {
  height: calc(100vh - 65px);
  display: flex;
  justify-content: center;
  align-items: center;
  .informative-text {
    text-align: center;
    h3 {
      color: #f9690e;
    }
    .image {
      width: 250px;
      margin: 20px auto;
      img {
        width: 100%;
        border-radius: 30px;
      }
    }
  }
}
