<div @slideFromLeft>
  <h3 class="toned-header"><span>Sign</span>in</h3>
  <form [formGroup]="loginForm">
    <div class="row">
      <div class="formgroup col-xs-12 col-sm-12 col-md-12">
        <input
          type="text"
          class="b2b-input"
          placeholder="Foodie name"
          formControlName="userName"
        />
        <span *ngIf="userName.invalid && userName.touched" class="error"
          >Required!</span
        >
      </div>
    </div>
    <div class="row">
      <div class="formgroup col-xs-12 col-sm-12 col-md-12">
        <input
          type="password"
          class="b2b-input"
          placeholder="Password"
          formControlName="password"
        />
        <span *ngIf="password.invalid && password.touched" class="error"
          >Required!</span
        >
      </div>
    </div>
    <div class="row">
      <div class="formgroup col-xs-12 col-sm-12 col-md-6">
        <div class="b2b-checkbox">
          <input
            type="checkbox"
            name=""
            id="rememberme"
            formControlName="rememberMe"
          />
          <label for="rememberme">Remember Me</label>
        </div>
      </div>
      <div class="formgroup col-xs-12 col-sm-12 col-md-6">
        <span class="forgot-password" (click)="showForgotPassword()"
          >Forgot Password?</span
        >
      </div>
    </div>
    <button
      class="b2b-btn-fwd rotate"
      [disabled]="loginForm.invalid"
      (click)="loginUser()"
      [ngClass]="{rotate: loading}"
    >
      {{ loading ? 'Signing in' : 'Sign in' }}
    </button>
  </form>
</div>
