<div class="chat-history-wrapper" @slideFromLeft>
  <div class="chat-user">
    <div class="back-btn">
      <button (click)="showList.emit(true)"><i class="fas fa-chevron-circle-left"></i></button>
    </div>
    <div class="user-img">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZtt-8JagsbCAhDa02YU8dEhABmIUIUaMEyq__-O6eEBo20DIwvw"
        alt="">
    </div>
    <div class="user-details">
      <div class="name">Fudgie</div>
      <div class="unread">100 unread messages</div>
    </div>
    <div class="status">
      <span></span>
    </div>
  </div>
  <div class="chat-history">
    <ul>
      <li *ngFor="let chat of chatMessages">
        <div [ngClass]="chat.toId === myUserId? 'my-message float-left': 'other-message float-right'" class="message">
          <div class="text">{{chat.message}}</div>
          <div class="time" [ngClass]="chat.toId === myUserId? '': 'text-right'">{{chat.date | timeAgo}}</div>
        </div>
      </li>
    </ul>

  </div>
  <div class="chat-message">
    <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3"
      [(ngModel)]="message"></textarea>
    <button [disabled]="message === null" (click)="sendMessage()">Send</button>
  </div>
</div>
