<div class="b2b-menu" @slideFromUp>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand" href="#">Navbar</div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="show = !show"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      [ngClass]="{ show: show }"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mr-auto">
        <li
          class="nav-item"
          routerLinkActive="active"
          *ngFor="let item of menuItem"
        >
          <a class="nav-link" [routerLink]="[item.path]">{{ item.title }}</a>
        </li>
        <li class="nav-item">
          <div class="nav-link" (click)="logout()">Logout</div>
        </li>
      </ul>
    </div>
  </nav>
  <rating (click)="getRating()" [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
</div>
