<div class="chat-wrapper" *ngIf="!showThread">
  <div class="new-message">
    <input *ngIf="isNewMessage" placeholder="Search users" [(ngModel)]="userSelected" [typeaheadMinLength]="0"
      (keyup)="userSearch.next($event.target.value)" [typeahead]="users" (typeaheadOnSelect)="onUserSelect($event)">
    <button (click)="toggleNewMessage()" *ngIf="!isNewMessage" class="user-button"><i class="fas fa-edit"></i></button>
    <button (click)="toggleNewMessage()" *ngIf="isNewMessage" class="user-button"><i
        class="fas fa-times-circle"></i></button>
  </div>
  <div class="chat-list" @slideFromLeft>
    <ul>
      <li *ngFor="let chat of chats">
        <div class="person-wrapper" (click)="showThisThread(chat.toUserId)">
          <div class="profile-pic">
            <img class="online" [src]="profileImgUrl">
          </div>
          <p class="message-preview">{{chat.userName}}<span>{{chat.lastMessage}}</span></p>
          <p class="details">{{chat.dateTimeOffset | timeAgo}} <br><span *ngIf="chat.unReadCount > 0"
              class="count">{{chat.unReadCount}}</span></p>
        </div>
      </li>
    </ul>
  </div>
</div>
<app-chat-thread (showList)="showList()" *ngIf="showThread" [toId]="userId"></app-chat-thread>
