<div class="chats">
  <div class="row">
    <div class="col-md-5 no-pad">
      <div class="user-list">
        <ul>
          <li>
            <div class="user-details">
              <div class="user-img"><img [src]="profileImgUrl" alt=""></div>
            </div>
            <div class="chat-details">
              <span class="username">Fudgie</span>
              <span class="message-preview">Can you make kotthu for me today or tomorrow?</span>
            </div>
            <div class="chat-time">
              <span class="date">{{chatDate | timeAgo}}</span>
              <span>
                <span class="new-message"><i class="fas fa-circle"></i></span>
              </span>
            </div>
          </li>
          <li>
            <div class="user-details">
              <div class="user-img"><img [src]="profileImgUrl" alt=""></div>
            </div>
            <div class="chat-details">
              <span class="username">Fudgie</span>
              <span class="message-preview">Can you make kotthu for me today or tomorrow?</span>
            </div>
            <div class="chat-time">
              <span class="date">{{chatDate | timeAgo}}</span>
              <span>
                <span class="new-message"><i class="fas fa-circle"></i></span>
              </span>
            </div>
          </li>
          <li>
            <div class="user-details">
              <div class="user-img"><img [src]="profileImgUrl" alt=""></div>
            </div>
            <div class="chat-details">
              <span class="username">Fudgie</span>
              <span class="message-preview">Can you make kotthu for me today or tomorrow?</span>
            </div>
            <div class="chat-time">
              <span class="date">{{chatDate | timeAgo}}</span>
              <span>
                <span class="new-message"><i class="fas fa-circle"></i></span>
              </span>
            </div>
          </li>
          <li>
            <div class="user-details">
              <div class="user-img"><img [src]="profileImgUrl" alt=""></div>
            </div>
            <div class="chat-details">
              <span class="username">Fudgie</span>
              <span class="message-preview">Can you make kotthu for me today or tomorrow?</span>
            </div>
            <div class="chat-time">
              <span class="date">{{chatDate | timeAgo}}</span>
              <span>
                <span class="new-message"><i class="fas fa-circle"></i></span>
              </span>
            </div>
          </li>
          <li>
            <div class="user-details">
              <div class="user-img"><img [src]="profileImgUrl" alt=""></div>
            </div>
            <div class="chat-details">
              <span class="username">Fudgie</span>
              <span class="message-preview">Can you make kotthu for me today or tomorrow?</span>
            </div>
            <div class="chat-time">
              <span class="date">{{chatDate | timeAgo}}</span>
              <span>
                <span class="new-message"><i class="fas fa-circle"></i></span>
              </span>
            </div>
          </li>
          <li>
            <div class="user-details">
              <div class="user-img"><img class='online' [src]="profileImgUrl" alt=""></div>
            </div>
            <div class="chat-details">
              <span class="username">Fudgie</span>
              <span class="message-preview">Can you make kotthu for me today or tomorrow?</span>
            </div>
            <div class="chat-time">
              <span class="date">{{chatDate | timeAgo}}</span>
              <span>
                <span class="new-message"><i class="fas fa-circle"></i></span>
                <span class="status">Online</span>
              </span>
            </div>
          </li>
          <li>
            <div class="user-details">
              <div class="user-img"><img [src]="profileImgUrl" alt=""></div>
            </div>
            <div class="chat-details">
              <span class="username">Fudgie</span>
              <span class="message-preview">Can you make kotthu for me today or tomorrow?</span>
            </div>
            <div class="chat-time">
              <span class="date">{{chatDate | timeAgo}}</span>
              <span>
                <span class="new-message"><i class="fas fa-circle"></i></span>
              </span>
            </div>
          </li>
          <li>
            <div class="user-details">
              <div class="user-img"><img class='online' [src]="profileImgUrl" alt=""></div>
            </div>
            <div class="chat-details">
              <span class="username">Fudgie</span>
              <span class="message-preview">Can you make kotthu for me today or tomorrow?</span>
            </div>
            <div class="chat-time">
              <span class="date">{{chatDate | timeAgo}}</span>
              <span>
                <span class="new-message"><i class="fas fa-circle"></i></span>
                <span class="status">Online</span>
              </span>
            </div>
          </li>
          <li>
            <div class="user-details">
              <div class="user-img"><img class='online' [src]="profileImgUrl" alt=""></div>
            </div>
            <div class="chat-details">
              <span class="username">Fudgie</span>
              <span class="message-preview">Can you make kotthu for me today or tomorrow?</span>
            </div>
            <div class="chat-time">
              <span class="date">{{chatDate | timeAgo}}</span>
              <span>
                <span class="new-message"><i class="fas fa-circle"></i></span>
                <span class="status">Online</span>
              </span>
            </div>
          </li>
          <li>
            <div class="user-details">
              <div class="user-img"><img class='online' [src]="profileImgUrl" alt=""></div>
            </div>
            <div class="chat-details">
              <span class="username">Fudgie</span>
              <span class="message-preview">Can you make kotthu for me today or tomorrow?</span>
            </div>
            <div class="chat-time">
              <span class="date">{{chatDate | timeAgo}}</span>
              <span>
                <span class="new-message"><i class="fas fa-circle"></i></span>
                <span class="status">Online</span>
              </span>
            </div>
          </li>
          <li>
            <div class="user-details">
              <div class="user-img"><img class='online' [src]="profileImgUrl" alt=""></div>
            </div>
            <div class="chat-details">
              <span class="username">Fudgie</span>
              <span class="message-preview">Can you make kotthu for me today or tomorrow?</span>
            </div>
            <div class="chat-time">
              <span class="date">{{chatDate | timeAgo}}</span>
              <span>
                <span class="new-message"><i class="fas fa-circle"></i></span>
                <span class="status">Online</span>
              </span>
            </div>
          </li>
          <li>
            <div class="user-details">
              <div class="user-img"><img class='online' [src]="profileImgUrl" alt=""></div>
            </div>
            <div class="chat-details">
              <span class="username">Fudgie</span>
              <span class="message-preview">Can you make kotthu for me today or tomorrow?</span>
            </div>
            <div class="chat-time">
              <span class="date">{{chatDate | timeAgo}}</span>
              <span>
                <span class="new-message"><i class="fas fa-circle"></i></span>
                <span class="status">Online</span>
              </span>
            </div>
          </li>
          <li>
            <div class="user-details">
              <div class="user-img"><img class='online' [src]="profileImgUrl" alt=""></div>
            </div>
            <div class="chat-details">
              <span class="username">Fudgie</span>
              <span class="message-preview">Can you make kotthu for me today or tomorrow?</span>
            </div>
            <div class="chat-time">
              <span class="date">{{chatDate | timeAgo}}</span>
              <span>
                <span class="new-message"><i class="fas fa-circle"></i></span>
                <span class="status">Online</span>
              </span>
            </div>
          </li>
          <li>
            <div class="user-details">
              <div class="user-img"><img class='online' [src]="profileImgUrl" alt=""></div>
            </div>
            <div class="chat-details">
              <span class="username">Fudgie</span>
              <span class="message-preview">Can you make kotthu for me today or tomorrow?</span>
            </div>
            <div class="chat-time">
              <span class="date">{{chatDate | timeAgo}}</span>
              <span>
                <span class="new-message"><i class="fas fa-circle"></i></span>
                <span class="status">Online</span>
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-7 no-pad">
      <div class="chat-screen">
        <div class="chat-user">
          <div class="user-details">
            <img [src]="profileImgUrl">
            <span class="username">Fudgie</span>
          </div>
        </div>
        <div class="chats-list">
          <ul class="chat-message">
            <li class="right">
              <img [src]="profileImgUrl" alt="" class="profile-photo-sm">
              <div class="chat-item">
                <div class="chat-item-header">
                  <h5>Fudgie</h5>
                  <small class="text-muted">2 days ago</small>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. </p>
              </div>
            </li>
            <li class="left">
              <img [src]="profileImgUrl" alt="" class="profile-photo-sm">
              <div class="chat-item">
                <div class="chat-item-header">
                  <h5>Sophia Lee</h5>
                  <small class="text-muted">a day ago</small>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
              </div>
            </li>
            <li class="right">
              <img [src]="profileImgUrl" alt="" class="profile-photo-sm pull-right">
              <div class="chat-item">
                <div class="chat-item-header">
                  <h5>Fudgie</h5>
                  <small class="text-muted">13 hours ago</small>
                </div>
                <p>Okay fine. thank you</p>
              </div>
            </li>
            <li class="left">
              <img [src]="profileImgUrl" alt="" class="profile-photo-sm">
              <div class="chat-item">
                <div class="chat-item-header">
                  <h5>Sophia Lee</h5>
                  <small class="text-muted">a day ago</small>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
              </div>
            </li>
            <li class="right">
              <img [src]="profileImgUrl" alt="" class="profile-photo-sm pull-right">
              <div class="chat-item">
                <div class="chat-item-header">
                  <h5>Fudgie</h5>
                  <small class="text-muted">13 hours ago</small>
                </div>
                <p>Okay fine. thank you</p>
              </div>
            </li>
            <li class="left">
              <img [src]="profileImgUrl" alt="" class="profile-photo-sm">
              <div class="chat-item">
                <div class="chat-item-header">
                  <h5>Sophia Lee</h5>
                  <small class="text-muted">a day ago</small>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
              </div>
            </li>
            <li class="right">
              <img [src]="profileImgUrl" alt="" class="profile-photo-sm pull-right">
              <div class="chat-item">
                <div class="chat-item-header">
                  <h5>Fudgie</h5>
                  <small class="text-muted">13 hours ago</small>
                </div>
                <p>Okay fine. thank you</p>
              </div>
            </li>
            <li class="left">
              <img [src]="profileImgUrl" alt="" class="profile-photo-sm">
              <div class="chat-item">
                <div class="chat-item-header">
                  <h5>Sophia Lee</h5>
                  <small class="text-muted">a day ago</small>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
              </div>
            </li>
            <li class="right">
              <img [src]="profileImgUrl" alt="" class="profile-photo-sm pull-right">
              <div class="chat-item">
                <div class="chat-item-header">
                  <h5>Fudgie</h5>
                  <small class="text-muted">13 hours ago</small>
                </div>
                <p>Okay fine. thank you</p>
              </div>
            </li>
            <li class="left">
              <img [src]="profileImgUrl" alt="" class="profile-photo-sm">
              <div class="chat-item">
                <div class="chat-item-header">
                  <h5>Sophia Lee</h5>
                  <small class="text-muted">a day ago</small>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
              </div>
            </li>
            <li class="right">
              <img [src]="profileImgUrl" alt="" class="profile-photo-sm pull-right">
              <div class="chat-item">
                <div class="chat-item-header">
                  <h5>Fudgie</h5>
                  <small class="text-muted">13 hours ago</small>
                </div>
                <p>Okay fine. thank you</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="chat-sender">
          <div class="typer">
            <input type="text" placeholder="Type message" name="" id="">
          </div>
          <div class="send-btn">
            <button>Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
