<div class="tab" @slideFromRight>
  <h3 class="toned-header"><span>Reset</span>Password</h3>
  <form [formGroup]="resetPasswordForm">
    <div class="row">
      <div class="formgroup col-xs-12 col-sm-12 col-md-12">
        <input
          type="password"
          class="b2b-input"
          placeholder="New Password"
          formControlName="password"
        />
        <span
          *ngIf="password.errors?.required && password.touched"
          class="error"
          >Invalid!</span
        >
        <span
          *ngIf="password.errors?.pattern && password.touched"
          class="error"
          >Weak Password!</span
        >
      </div>
    </div>
    <div class="row">
      <div class="formgroup col-xs-12 col-sm-12 col-md-12">
        <input
          type="password"
          class="b2b-input"
          placeholder="Confirm password"
          formControlName="confirmPasssword"
        />
        <span
          *ngIf="confirmPasssword.errors?.isError && confirmPasssword.touched"
          class="error"
          >Password Doesn't Match!</span
        >
        <span
          *ngIf="confirmPasssword.errors?.required && confirmPasssword.touched"
          class="error"
          >Required!</span
        >
      </div>
    </div>
    <div class="action-btns">
      <button
        class="b2b-btn-fwd"
        [disabled]="resetPasswordForm.invalid"
        (click)="resetPassword()"
        [ngClass]="{ rotate: loading }"
      >
        {{ loading ? 'Resetting' : 'Reset' }}
      </button>
    </div>
  </form>
</div>
