<div class="tab" *ngIf="!registered" @slideFromRight>
  <h3 class="toned-header"><span>Register</span>Now</h3>
  <div class="register-form">
    <form [formGroup]="registerUserForm">
      <div class="row">
        <div class="formgroup col-xs-12 col-sm-12 col-md-6">
          <input
            type="text"
            class="b2b-input"
            placeholder="First Name"
            formControlName="firstName"
          />
          <span
            *ngIf="firstName.errors?.pattern && firstName.touched"
            class="error"
            >Invalid!</span
          >
          <span
            *ngIf="firstName.errors?.required && firstName.touched"
            class="error"
            >Required!</span
          >
        </div>
        <div class="formgroup col-xs-12 col-sm-12 col-md-6">
          <input
            type="text"
            class="b2b-input"
            placeholder="Last Name"
            formControlName="lastName"
          />
          <span
            *ngIf="lastName.errors?.pattern && lastName.touched"
            class="error"
            >Invalid!</span
          >
          <span
            *ngIf="lastName.errors?.required && lastName.touched"
            class="error"
            >Required!</span
          >
        </div>
      </div>
      <div class="row">
        <div class="formgroup col-xs-12 col-sm-12 col-md-6">
          <input
            type="text"
            class="b2b-input"
            placeholder="Foodie Name"
            formControlName="userName"
          />
          <span
            *ngIf="userName.errors?.minlength && userName.touched"
            class="error"
            >Short!</span
          >
          <span
            *ngIf="userName.errors?.required && userName.touched"
            class="error"
            >Required!</span
          >
        </div>
        <div class="formgroup col-xs-12 col-sm-12 col-md-6">
          <input
            type="password"
            class="b2b-input"
            placeholder="Password"
            formControlName="password"
          />
          <span
            *ngIf="password.errors?.pattern && password.touched"
            class="error"
            >Weak password!</span
          >
          <span
            *ngIf="password.errors?.required && password.touched"
            class="error"
            >Required!</span
          >
        </div>
      </div>
      <div class="row">
        <div class="formgroup col-xs-12 col-sm-12 col-md-6">
          <input
            placeholder="University"
            class="b2b-input"
            formControlName="universityId"
            type="text"
            [typeahead]="universities"
            typeaheadOptionField="name"
            [typeaheadScrollable]="true"
            [typeaheadOptionsInScrollableView]="5"
            (typeaheadOnSelect)="onUniversitySelect($event)"
          />
          <span *ngIf="!initiated" class="form-spinner"></span>
          <span
            *ngIf="universityId.errors?.required && universityId.touched"
            class="error"
            >Required!</span
          >
        </div>
        <div class="formgroup col-xs-12 col-sm-12 col-md-6">
          <input
            placeholder="Country"
            class="b2b-input"
            formControlName="countryId"
            type="text"
            [typeahead]="countries"
            typeaheadOptionField="name"
            [typeaheadScrollable]="true"
            [typeaheadOptionsInScrollableView]="5"
            (typeaheadOnSelect)="onSelect($event)"
          />
          <span *ngIf="!initiated" class="form-spinner"></span>
          <span
            *ngIf="countryId.errors?.required && countryId.touched"
            class="error"
            >Required!</span
          >
        </div>
      </div>
      <div class="row">
        <div class="formgroup col-xs-12 col-sm-12 col-md-6">
          <div class="radio-group">
            <label for="male">
              <input
                id="male"
                type="radio"
                value="1"
                formControlName="gender"
              />
              <span>Male</span>
            </label>
            <label for="female">
              <input
                id="female"
                type="radio"
                value="2"
                formControlName="gender"
              />
              <span>Female</span>
            </label>
          </div>
          <span *ngIf="gender.errors?.required && gender.touched" class="error"
            >Required!</span
          >
        </div>
        <div class="formgroup col-xs-12 col-sm-12 col-md-6">
          <input
            type="text"
            class="b2b-input"
            placeholder="Email"
            formControlName="email"
          />
          <span *ngIf="email.errors?.email && email.touched" class="error"
            >Invalid!</span
          >
          <span *ngIf="email.errors?.required && email.touched" class="error"
            >Required!</span
          >
        </div>
      </div>
      <button
        class="b2b-btn-fwd"
        (click)="registerUser()"
        [ngClass]="{ rotate: loading }"
        [disabled]="registerUserForm.invalid"
      >
        {{ loading ? 'Registering' : 'Register' }}
      </button>
    </form>
  </div>
</div>
<div class="confirm-tab" *ngIf="registered" @slideFromRight>
  <h3 class="toned-header"><span>Email</span>Confirmation</h3>
  <div class="confirm-email">
    <img
      src="../../../../../assets/images/email-confirmation.png"
      alt="Confirm email image"
    />
  </div>
  <p>
    A verification link has been sent to your email account to verify your
    email, Please Confirm and complete the registration process
  </p>
</div>
