<div class="tab" @slideFromRight>
  <h3>Register Now</h3>
  <p>Lorem ipsum dolor sit amet.</p>
  <div class="register-form">
    <form [formGroup]="registerUserForm">
      <div class="row">
        <div class="formgroup col-xs-12 col-sm-12 col-md-6">
          <input
            type="text"
            class="b2b-input"
            placeholder="First Name"
            formControlName="firstName"
          />
          <span
            *ngIf="firstName.errors?.pattern && firstName.touched"
            class="error"
            >Invalid!</span
          >
          <span
            *ngIf="firstName.errors?.required && firstName.touched"
            class="error"
            >Required!</span
          >
        </div>
        <div class="formgroup col-xs-12 col-sm-12 col-md-6">
          <input
            type="text"
            class="b2b-input"
            placeholder="Last Name"
            formControlName="lastName"
          />
          <span
            *ngIf="lastName.errors?.pattern && lastName.touched"
            class="error"
            >Invalid!</span
          >
          <span
            *ngIf="lastName.errors?.required && lastName.touched"
            class="error"
            >Required!</span
          >
        </div>
      </div>
      <div class="row">
        <div class="formgroup col-xs-12 col-sm-12 col-md-6">
          <input
            type="text"
            class="b2b-input"
            placeholder="Foodie Name"
            formControlName="userName"
          />
          <span
            *ngIf="userName.errors?.minlength && userName.touched"
            class="error"
            >Short!</span
          >
          <span
            *ngIf="userName.errors?.required && userName.touched"
            class="error"
            >Required!</span
          >
        </div>
        <div class="formgroup col-xs-12 col-sm-12 col-md-6">
          <input
            type="password"
            class="b2b-input"
            placeholder="Password"
            formControlName="password"
          />
          <span
            *ngIf="password.errors?.pattern && password.touched"
            class="error"
            >Weak password!</span
          >
          <span
            *ngIf="password.errors?.required && password.touched"
            class="error"
            >Required!</span
          >
        </div>
      </div>
      <div class="row">
        <div class="formgroup col-xs-12 col-sm-12 col-md-6">
          <select class="b2b-input" formControlName="countryId">
            <option value="" disabled selected>Country</option>
            <option *ngFor="let country of countries" [value]="country.id">{{
              country.name
            }}</option>
          </select>
          <span *ngIf="!initiated" class="form-spinner"></span>
          <span
            *ngIf="countryId.errors?.required && countryId.touched"
            class="error"
            >Required!</span
          >

        </div>
        <div class="formgroup col-xs-12 col-sm-12 col-md-6">
          <select class="b2b-input" formControlName="universityId">
            <option value="" disabled selected>University</option>
            <option *ngFor="let uni of universities" [value]="uni.id">{{
              uni.name
            }}</option>
          </select>
          <span *ngIf="!initiated" class="form-spinner"></span>
          <span
            *ngIf="universityId.errors?.required && universityId.touched"
            class="error"
            >Required!</span
          >
        </div>
      </div>
      <div class="row">
        <div class="formgroup col-xs-12 col-sm-12 col-md-6">
          <div class="radio-group">
            <label for="male">
              <input
                id="male"
                type="radio"
                value="1"
                formControlName="gender"
              />
              <span>Male</span>
            </label>
            <label for="female">
              <input
                id="female"
                type="radio"
                value="2"
                formControlName="gender"
              />
              <span>Female</span>
            </label>
          </div>
          <span *ngIf="gender.errors?.required && gender.touched" class="error"
            >Required!</span
          >
        </div>
        <div class="formgroup col-xs-12 col-sm-12 col-md-6">
          <input
            type="text"
            class="b2b-input"
            placeholder="Email"
            formControlName="email"
          />
          <span *ngIf="email.errors?.email && email.touched" class="error"
            >Invalid!</span
          >
          <span *ngIf="email.errors?.required && email.touched" class="error"
            >Required!</span
          >
        </div>
      </div>
      <button
        class="pill"
        [disabled]="registerUserForm.invalid"
        (click)="registerUser()"
        [ngClass]="{stretch: loading}"
      >
        {{ loading ? 'Registering' : 'Register' }}
        <span *ngIf="loading" class="spinner"></span>
      </button>
    </form>
  </div>
</div>
