@import '../../../styles/colors';

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  height: 100vh;
  align-items: center;
  @media only screen and (max-width: 991px) {
    display: block;
    margin: 20px 0;
  }
}
.right-wrapper {
  .content {
    min-height: 460px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 35px 0px rgba(151, 150, 150, 0.73);
    overflow: hidden;
    background: #ffffff;
  }
  .switcher {
    display: flex;
    justify-content: center;
    .left {
      button {
        border-radius: 5px 0 0 0;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 8px;
          right: 0;
          width: 2px;
          height: 20px;
          background: #fff;
        }
      }
    }
    .right {
      button {
        border-radius: 0 5px 0 0;
      }
    }
    button {
      padding: 5px 0;
      border: none;
      background: $main-color;
      color: #fff;
      outline: none;
      min-width: 150px;
      font-weight: 600;
    }
  }
  @media only screen and (max-width: 991px) {
    margin: 20px 0;
  }
}

.left-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .intro-content {
    .heading {
      text-transform: uppercase;
    }
    .intro-text {
      font-weight: 600;
      font-size: 1.1rem;
    }
    span {
      color: $logo-red;
    }
  }
  .image-wrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;
    .intro-image {
      width: 150px;
      margin-right: 1rem;
      &.animal {
        width: 50px;
      }
      img {
        width: 100%;
      }
    }
  }
  .top-bar {
    padding: 1.5rem 0;
    .logo {
      width: 400px;
      img {
        width: 100%;
      }
    }
  }
}
