@import '../../../styles/colors';

.bg {
  background: url('../../../../assets/images/login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  height: 100vh;
}
.right-wrapper {
  .content {
    min-height: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 35px 0px rgba(151, 150, 150, 0.73);
    overflow: hidden;
    background: rgba(236, 236, 236, 0.76);
  }
  .switcher {
    display: flex;
    justify-content: center;
    .left {
      button {
        border-radius: 5px 0 0 0;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 8px;
          right: 0;
          width: 2px;
          height: 20px;
          background: #fff;
        }
      }
    }
    .right {
      button {
        border-radius: 0 5px 0 0;
      }
    }
    button {
      padding: 5px 0;
      border: none;
      background: $main-color;
      color: #fff;
      outline: none;
      min-width: 150px;
      font-weight: 600;
    }
  }
}

.left-wrapper {
  .top-bar {
    .logo {
      img {
        width: 200px;
      }
    }
  }
  .heading {
    text-shadow: 0 0 65px rgba(208, 191, 182, 0.09);
    text-transform: uppercase;
  }
  .intro-text {
    color: #fff;
    font-weight: 600;
    text-shadow: 0 0 15px black;
    font-size: 1.1rem;
  }
}
