<div class="container">
  <div class="main-wrapper">
    <div class="left-wrapper" @slideFromLeft>
      <div class="intro-content">
        <h1 class="heading">New Food, New Friends...</h1>
        <p class="intro-text">
          Each and every food has it's own story, what is the story of yours?
          Explore the unique foods around the world through
          Bread<span>2</span>Bun.
        </p>
      </div>
      <div class="top-bar">
          <div class="logo">
            <img src="../../../../assets/images/logo-transparent.png" alt="Bread 2 bun logo" />
          </div>
        </div>
      <div class="image-wrapper">
        <div class="intro-image">
          <img
            src="../../../../assets/images/intro-stall.png"
            alt="Intro image"
          />
        </div>
        <div class="intro-image">
          <img
            src="../../../../assets/images/intro-people.png"
            alt="Intro image"
          />
        </div>
        <div class="intro-image animal">
          <img
            src="../../../../assets/images/intro-animal.png"
            alt="Intro image"
          />
        </div>
      </div>
    </div>
    <div class="right-wrapper" @slideFromRight>
      <div class="switcher">
        <div class="left">
          <Button (click)="showLogin()">Sign in</Button>
        </div>
        <div class="right">
          <button (click)="showRegister()">Register</button>
        </div>
      </div>
      <div class="content">
        <app-register
          *ngIf="register && !login && !forgotPassword && !showResetPassword"
        ></app-register>
        <app-login
          (forgotPassword)="showForgotPassword()"
          *ngIf="!register && login && !forgotPassword && !showResetPassword"
        ></app-login>
        <app-forgot-password
          (showLogin)="showLogin()"
          *ngIf="forgotPassword && !register && !login && !showResetPassword"
        ></app-forgot-password>
        <app-reset-password *ngIf="showResetPassword && !forgotPassword && !register && !login"></app-reset-password>
      </div>
    </div>
  </div>
</div>
