.update-profile-page{
  padding: 1.5rem;
  .update-profile-card{
    .group-gap{
      .avatar-upload{
        .avatar-preview{
          #imagePreview{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
}
