<div class="forgot-password-wrapper" @slideFromRight>
  <h3 class="toned-header"><span>Forgot</span>Password?</h3>
  <p>
    A password reset link will be sent to your email to reset your password. If
    you don't get an email within a few minutes, please re-try.
  </p>
  <form [formGroup]="resetPasswordForm">
    <div class="row">
      <div class="formgroup col-xs-12 col-sm-12 col-md-12">
        <input
          type="text"
          class="b2b-input"
          placeholder="Email Address"
          formControlName="email"
        />
        <span
          *ngIf="email.errors?.email && email.touched"
          class="error"
          >Invalid!</span
        >
        <span
          *ngIf="email.errors?.required && email.touched"
          class="error"
          >Required!</span
        >
      </div>
    </div>
    <div class="action-btns">
      <button class="b2b-btn-stay" (click)="showLoginFn()">
        Back
      </button>
      <button
        class="b2b-btn-fwd"
        [disabled]="resetPasswordForm.invalid"
        (click)="resetPassword()"
      >
        Reset
      </button>
    </div>
  </form>
</div>
