.action-btns{
  display: flex;
  justify-content: space-between;
}

.reset-password-instruction {
  .reset-email {
    width: 40%;
    margin: 20px auto;
    img {
      width: 100%;
    }
  }
  p {
    font-weight: 600;
    font-size: 1.2rem;
  }
}
